@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@500&display=swap');

body {
    font-family: 'Inter', sans-serif;

}

/* main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


} */

/* top banner starts  */

.top-banner-container {
    background-image: linear-gradient(black, rgb(80, 77, 77));
    /* position: relative; */
    border-radius: 30px;
    height: 646px;
    width: 1500px;
    display: flex;
    justify-content: flex;
    align-items: center;

}

.fifa-introduction {
    margin-left: 80px;
    width: 50%;
    z-index: 10;
}

.fifa-title {
    color: #FFFFFF;
    font-size: 70px;
    width: 531px;
    height: 240px;
}

.fifa-paragraph {
    color: white;
    text-align: left;
    margin-top: -40px;
}

.watch-live-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #DD0000;
    width: 187px;
    height: 56px;
    border-radius: 5px;
    margin-top: 30px;



}

.watch-live-button:hover {
    background-color: #6d6f6d;
    box-shadow: 10px 5px 50px black;
}

.watch-live-button a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: white;

}

/* .fifa-logo {
    height: 200px;
    margin-top: 100px;
    margin-left: 400px;

} */

.image-section {

    width: 50%;

}


.player-image {

    margin-top: 276px;
    margin-right: 30px;
}



/* top banner ends */

/* 2nd portion starts  */

.option-blogs-container {
    display: flex;
    margin-top: 130px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    margin-top: 24px;


}



.options .button a {
    text-decoration: none;
    color: black;


}

.options .button a:hover {
    text-decoration: none;
    color: white;


}

.button:hover {
    background-color: #DD0000;
    box-shadow: 10px 5px 30px #980606;
}

.button {
    background-color: #FFFFFF;
    font-size: 20px;
    width: 252px;
    height: 74px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding-top: 13px;
    padding-bottom: 13px;

}

.view-all {
    display: none;
    justify-content: center;
    align-items: center;
    width: 1480px;
    /* margin-left: 100px; */


}

.view-all-button {
    background-color: #7c7979;
    font-size: 20px;
    width: 252px;
    height: 64px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;


}

.view-all-button a:hover {
    text-decoration: none;
    color: white;


}

.view-all-button:hover {
    background-color: #DD0000;
    box-shadow: 10px 5px 30px #8f0505;
}

.view-all a {
    text-decoration: none;
    color: #FFFFFF;
}

/* blogs start */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blog {
    margin: 24px;
    /* border: 2px solid rgb(198, 188, 188); */
    /* border-radius: 10px; */
}

.thumbnail img {
    width: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;

}

.blog-info {
    margin: 20px;
}

.blog-button {
    background-color: white;
    border: 2px solid rgb(198, 188, 188);
    width: 100px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* margin-top: 20px; */

}

.blog-button a {
    text-decoration: none;
    color: black;

}

.blog-button a:hover {
    text-decoration: none;
    color: white;


}

.blog-button:hover {
    background-color: rgb(198, 188, 188);
    /* box-shadow: 10px 5px 20px rgb(11, 11, 11); */
}

.last-seen {
    display: flex;
    color: gray;
}

.fa-comment-dots {
    margin-left: 30px;
    margin-right: 10px;
}

.fa-clock {
    margin-right: 10px;
}

/* blogs end  */

/* 2nd portion ends  */

/* footer starts  */

.last-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 444px;
    width: 1500px;
    background-size: cover;
    background-image: linear-gradient(black, rgb(35, 33, 33));
}

#footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* padding-top: 20px;
    padding-bottom: 40px; */

    color: white;

    /* margin: 0px -20px -20px -20px; */

}

#goal {
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 40px;
    color: antiquewhite;
}



hr {

    width: 1320px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 20px;
    margin-top: 40px;

}

.footer-links {
    display: flex;
    flex-direction: row;

}

.platform-icons a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 30px 10px;

}

.platform-icons {
    padding: 30px;

}

#copy-right {
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 16px;
    color: antiquewhite;

}


/* footer ends  */

/* media queries starts */
/* for small devices */
@media screen and (max-width:576px) {

    /* main {
        width: 100%;
    } */

    .option-blogs-container {

        display: grid;
        grid-template-columns: (1, 1fr);
        /* flex-direction: column; */
        /* justify-content: center; */
        align-items: center;
        margin-top: 130px;
        margin-left: 200px;
    }

    .options {
        background-color: #555151;

        margin-bottom: 50px;
        margin-left: 400px;

    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;

    }



    .blog {
        /* margin: 42px; */
        /* border: 1px solid gray; */
        border-radius: 20px;
        margin-left: 50px;
        width: 934px;
        height: 579px;
    }

    .thumbnail img {
        width: 934px;
        height: 379px;
        border-radius: 10px 10px 0px 0px;

    }


}

/* for medium devices */
@media screen and (min-width:577px) and (max-width:992px) {
    .view-all {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* main {
        width: 100%;
    } */



    .option-blogs-container {

        display: grid;
        grid-template-columns: (1, 1fr);
        /* flex-direction: column; */
        /* justify-content: center; */
        align-items: center;
        margin-top: 130px;
        margin-left: 200px;
    }

    .options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 1030px;
        height: 312px;
        border-radius: 10px;
        margin-top: 24px;
        margin-left: 20px;


    }

    .button {
        /* border: 5px solid rgb(197, 193, 193); */
        font-size: 30px;
        width: 352px;
        height: 74px;
        border-radius: 12px;
        text-align: center;
        /* background-color: #FFFFFF;
        font-size: 20px;
        width: 252px;
        height: 74px;
        border-radius: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        padding-top: 13px;
        padding-bottom: 13px; */

    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;

    }

    .blog {
        /* margin: 42px; */
        border: 1px solid gray;
        border-radius: 20px;
        margin-left: 50px;
    }

    .thumbnail img {
        width: 449px;
        height: 258px;
        border-radius: 10px 10px 0px 0px;

    }

    .footer-links {
        flex-wrap: wrap;

    }








}

/* media queries ends */

/* upcoming matches start */
.matches {
    display: flex;
    justify-content: center;
    align-items: center;


}

.matches img {
    margin: 20px;
}

#date-time {
    color: #7c7979;
    font-size: 1em;
}



/* upcoming matches end  */