@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@500&display=swap');

body {
    font-family: 'Inter', sans-serif;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

/* top banner starts  */

.top-banner-container {
    background-image: linear-gradient(black, rgb(80, 77, 77));
    /* position: relative; */
    border-radius: 30px;
    /* height: 646px; */
    /* width: 1500px; */
    display: flex;
    justify-content: flex;
    align-items: center;
    flex-grow: 1;


}

.fifa-introduction {
    margin-left: 80px;
    width: 50%;
    z-index: 10;
}

.fifa-title {
    color: #FFFFFF;
    font-size: 70px;
    width: 531px;
    height: 240px;
}

.fifa-paragraph {
    color: white;
    text-align: left;
    margin-top: -40px;
    font-weight: 100;
    text-align: justify;
}

.watch-live-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #DD0000;
    width: 187px;
    height: 56px;
    border-radius: 5px;
    margin-top: 30px;
}

.watch-live-button:hover {
    background-color: #6d6f6d;
    box-shadow: 10px 5px 50px rgb(98, 95, 95);
}

.watch-live-button a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: white;

}

/* .fifa-logo {
    height: 200px;
    margin-top: 100px;
    margin-left: 400px;

} */

.image-section {
    display: flex;
    justify-content: center;
    /* flex-grow: 1; */
    width: 50%;

}


.player-image {
    position: relative;
    top: 4px;
    margin-top: 200px;
    margin-right: 30px;
}



/* top banner ends */

/* 2nd portion starts  */

.option-blogs-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-top: 130px;
    margin-bottom: 130px;
    padding: 0 40px;
    max-width: 1469px;
    max-height: 2181px;

}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(black, rgb(80, 77, 77));
    width: 350px;
    height: 340px;
    flex-grow: 1;
    border-radius: 15px;
    margin-top: 24px;
    margin-left: 5px;

}

.options .button a {
    text-decoration: none;
    color: black;



}

.options .button a:hover {
    text-decoration: none;
    color: white;


}

.button {
    background-color: #FFFFFF;
    font-size: 20px;
    width: 252px;
    height: 80px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding-top: 13px;
    padding-bottom: 13px;

}

.button:hover {
    background-color: #DD0000;
    box-shadow: 10px 5px 30px #980606;
}

/* blogs start */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 30px;
}

.blog {
    width: 330px;
    margin: 24px;
    border: 2px solid #E8E8E8;
    border-radius: 18px;
}

.thumbnail img {
    width: 330px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;

}

.blog-info {
    margin: 20px;
}

.blog-button {
    background-color: white;
    border: 2px solid rgb(198, 188, 188);
    width: 100px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* margin-top: 20px; */

}

.blog-button a {
    text-decoration: none;
    color: black;

}

.blog-button a:hover {
    text-decoration: none;
    color: white;


}

.blog-button:hover {
    background-color: rgb(198, 188, 188);
    /* box-shadow: 10px 5px 20px rgb(11, 11, 11); */
}

.last-seen {
    display: flex;
    color: gray;
}

.fa-comment-dots {
    margin-left: 30px;
    margin-right: 10px;
}

.fa-clock {
    margin-right: 10px;
}

/* blogs end  */

/* 2nd portion ends  */

.view-all {
    display: none;
    justify-content: center;
    align-items: center;
    width: 1480px;
    /* margin-left: 100px; */


}

.view-all-button {
    background-color: #7c7979;
    font-size: 20px;
    width: 252px;
    height: 64px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;


}

.view-all-button a:hover {
    text-decoration: none;
    color: white;


}

.view-all-button:hover {
    background-color: #DD0000;
    box-shadow: 10px 5px 30px #8f0505;
}

.view-all a {
    text-decoration: none;
    color: #FFFFFF;
}

/* footer starts  */

.last-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    /* height: 444px;
    width: 1500px; */
    background-size: cover;
    background-image: linear-gradient(rgb(59, 57, 57), black);
    padding-bottom: 50px;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    /* padding-top: 20px;
    padding-bottom: 40px; */

    color: white;

    /* margin: 0px -20px -20px -20px; */

}

#goal {
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 40px;
    color: antiquewhite;
}



hr {

    width: 1320px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 20px;
    margin-top: 40px;

}

.footer-links {
    display: flex;
    flex-direction: row;

}

.platform-icons a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 30px 10px;

}

.platform-icons {
    padding: 30px;

}

#copy-right {
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 16px;
    color: antiquewhite;

}


/* footer ends  */

/* media queries starts */
/* for small devices */
@media screen and (max-width:576px) {

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-right: 80px;
        flex-grow: 1;
        max-width: 900px;
        max-height: 4210px; */
    }

    .top-banner-container {


        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        /* margin-left: 150px; */
        margin-bottom: 50px;

    }

    .fifa-introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        margin-left: -1px;
        z-index: 10;
    }

    .fifa-title {
        color: #FFFFFF;
        font-size: 45px;
        text-align: center;
        /* width: 531px;
        height: 240px; */
        justify-content: center;
    }

    .fifa-paragraph {
        margin-top: -80px;
        text-align: center;
    }

    .image-section {
        display: flex;
        justify-content: center;
        /* flex-grow: 1; */
        /* width: 30%; */

    }

    .player-image {
        position: relative;
        top: -174px;
        left: 25px;
        height: 200px;
        width: 200px;
        margin-top: 200px;
        margin-left: -500px;
    }





    .option-blogs-container {

        display: grid;
        grid-template-columns: (1, 1fr);
        /* flex-direction: column; */
        /* justify-content: center; */
        align-items: center;
        margin-top: -1px;
        margin-bottom: -100px;
        /* margin-left: 300px; */
        margin-right: 130px;
    }


    .options {
        background-color: #555151;

        margin-bottom: 50px;
        margin-left: 240px;

    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;

    }



    .blog {
        /* margin: 42px; */
        /* border: 1px solid gray; */
        border-radius: 20px;
        margin-left: 140px;
        width: 500px;
        height: 579px;
    }

    .thumbnail img {
        width: 500px;
        height: 300px;
        border-radius: 10px 10px 0px 0px;

    }

    .last-section {
        position: relative;
        top: 2200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        width: 1322px;
        /* height: 444px;
        width: 1500px; */
        background-size: cover;
        background-image: linear-gradient(rgb(59, 57, 57), black);

    }



    .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }


}

/* for medium devices like laptop*/
@media screen and (min-width:577px) and (max-width:992px) {
    .view-all {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    .top-banner-container {
        background-image: linear-gradient(black, rgb(80, 77, 77));
        /* position: relative; */
        border-radius: 30px;
        width: 934px;
        /* height: 698px; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-left: 250px; */



    }

    .fifa-introduction {
        margin-top: -100px;
        margin-left: 90px;
        width: 40%;
        z-index: 10;
    }

    .fifa-title {
        color: #FFFFFF;
        font-size: 40px;


    }

    .fifa-paragraph {
        color: white;
        text-align: left;
        margin-top: -130px;
        font-weight: 100;
        font-size: 14px;
        /* text-align: justify; */
    }

    .image-section {
        display: flex;
        justify-content: center;
        /* flex-grow: 1; */
        width: 50%;

    }

    .player-image {
        position: relative;
        top: 4px;
        right: 50px;
        margin-top: 200px;
        margin-right: 30px;
    }

    /* this is the correct line  */

    .option-blogs-container {

        display: grid;
        grid-template-columns: (1, 1fr);
        /* flex-direction: column; */
        /* justify-content: center; */
        align-items: center;
        margin-top: 130px;
        margin-left: 200px;
    }

    .options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(white, white);
        width: 1030px;
        height: 312px;
        border-radius: 10px;
        margin-top: -100px;
        margin-left: -180px;


    }

    .button {
        border: 2px solid rgb(228, 224, 224);
        font-size: 25px;
        width: 252px;
        height: 74px;
        border-radius: 12px;
        text-align: center;


    }

    .button:hover {
        border: none;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
        justify-content: center;
        align-items: center;

    }

    .blog {
        width: 349px;
        margin: 24px;
        border: 2px solid #E8E8E8;
        border-radius: 18px;

    }

    .blog {
        width: 400px;
        height: 455px;
        margin: 24px;
        border: 2px solid #E8E8E8;
        border-radius: 18px;
        margin-left: -115px;
    }

    .thumbnail img {
        width: 400px;
        height: 255px;
        border-radius: 10px 10px 0px 0px;

    }

    .view-all-button {

        margin-bottom: 100px;


    }

    .footer-links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 700px;

    }


}

/* media queries ends */

/* upcoming matches start */
.matches {
    display: flex;
    justify-content: center;
    align-items: center;


}

.matches img {
    margin: 20px;
}

#date-time {
    color: #7c7979;
    font-size: 1em;
}



/* upcoming matches end  */